html,body,#app{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 1366px;
}
/* 导航栏 */
.el-breadcrumb{
    margin-bottom: 20px;
}
.el-cascader-panel {

    height:  400px !important;
}